.Navbar{
    position: fixed;
    top: 0;
    font-size: 3vh;
    background-color: black;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.Navlogo{
    color: silver;
    padding-left: 2vw;
    margin-right: 20vw;
}

.Navlogo:hover{
    font-weight: 600;
    color: white;
}

.Navlink{
    color: silver;
    padding-right: 4vw;
}

.Navlink:hover{
    font-weight: 600;
    color: white;
}